@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0f141e;
  color: #ffffff;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  overflow-x: hidden;
}

#feedback-cloud-arrow {
    position: absolute;
    bottom: -14.9px;
    width: 0;
    height: 0;
    left: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 15px solid #fff;
    transition: all 1s;
  }